body {
    margin: 0 15% 0 15%;
    text-align: center;
    /* align-items: center; */
}

.context {
    /* align-content: center;    
    padding: 10px 40px 40px 40px;

    height: 80%;
    width: 70%; */
}

h1 {
    text-shadow: 1px 1px;
}

.quiz-controls {
}

.right-of-timer {
    /* display: inline-block; */
}

#guessed-country {
    /* font-size: 1rem; */
}

#country-progress {
    /* font-size: 1rem; */
}

.answer-box {
}

.answer-box-text {
    /* color: #e0f0fc;
    text-align: center;
    font-size: 1rem;
    font-family: "Book Antiqua", serif; */
}

.search-input {
    /* margin-top: 5px;
    background-color: whitesmoke;
    border-radius: 2px;
    height: 20px; */
}

.guessed-line {
    /* color: #e0f0fc;
    text-align: center;
    margin: 20px 0px 30px 10px;
    margin-bottom: 30px;
    font-family: "Book Antiqua", serif;
    border: 2px outset whitesmoke;
    border-radius: 20px;
    text-align: center;
    width: 150px; */
}

.timer-cell {

}

.map {
    
    background-image: radial-gradient(ellipse at center, aqua, transparent);
    /* border: 2px outset #5c7485;
    border-radius: 10px;
    background-color: #5c7485; */
}

svg path {
    fill: #FFFF80;
    stroke: black;
    /* fill: #FFFF80;
    stroke: black;
    stroke-width: .40; */
}

svg path:hover {
    /* fill: #FFEE39;
    transition: 0.6s;
    cursor: pointer; */
}