body {

    margin: 0 15% 0 15%;
    text-align: center;
    background-image: radial-gradient(ellipse at center, aqua, transparent);
}

.context {
    /* covers name, quiz-input, map */
}

h1 {
    /* covers name */
    text-shadow: 1px 1px;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}

#countdown-timer {
}

.quiz-controls div {
    /* covers timer and the input related components */
    display: block;
}

.quiz-controls .timer {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.right-of-timer div {
    display: block;
}

#guessed-country {
    /* font-size: 1rem; */
}

#country-progress {
    /* font-size: 1rem; */
}

.answer-box {
}

.answer-box-text {
    /* color: #e0f0fc;
    text-align: center;
    font-size: 1rem;
    font-family: "Book Antiqua", serif; */
}

.search-input {
    /* margin-top: 5px;
    background-color: whitesmoke;
    border-radius: 2px;
    height: 20px; */
}

.guessed-line {
    /* color: #e0f0fc;
    text-align: center;
    margin: 20px 0px 30px 10px;
    margin-bottom: 30px;
    font-family: "Book Antiqua", serif;
    border: 2px outset whitesmoke;
    border-radius: 20px;
    text-align: center;
    width: 150px; */
}

.map {
    padding-top: 60px;
    /* margin-top: 100px; */
}

svg path {
    fill: #FFFF80;
    stroke: black;
    stroke-width: .60;
    /* stroke-width: .40; */
}

svg path:hover {
    cursor: pointer;
    fill: #FFEE39;
    transition: 0.6s;
}