body {
}

.context {
    margin: 0 20% 0 20%;
}

h1 {
    text-align: center;
    font-family: "Book Antiqua", serif;
}

.quiz-controls {
    margin: 0;
    display: inline-flex;
}

.right-of-timer {
    display: inline-block;
}

#guessed-country {
    font-size: 1rem;
}

#country-progress {
    font-size: 1rem;
}

.answer-box {
}

.answer-box-text {
    font-size: 1rem;
    font-family: "Book Antiqua", serif;
}

.search-input {
    width: 150px;
    padding: 5px;
    margin-right: 10px;
    height: 100%;
}

.guessed-line {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Book Antiqua", serif;
    border: 2px outset whitesmoke;
    border-radius: 20px;
    text-align: center;
    width: 150px;
}

.timer-cell {

}

.map {
    border: 2px outset #65B6F0;
    border-radius: 10px;
    background-color: #65B6F0;
    padding: 20px;
}

svg path {
    fill: #FFFF80;
    stroke: black;
    stroke-width: .40;
}

svg path:hover {
    fill: #FFEE39;
    transition: 0.6s;
    cursor: pointer;
}